<div align="right"><button (click)="sair()" style="background-color: crimson; color: wheat; border-radius: 55%;">Exit</button></div>

<div class="card" style="background: white;">
    <fieldset legend="Doadores Estatísticas">

        <h3 style="text-align: center;">Candidatos</h3>

        <div align="center">
            <table>
                <tr>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                </tr>
                <tr>
                    <td>João</td>
                    <td>Rua daqui nº 5</td>
                    <td>71991742460</td>
                </tr>
            </table>
        </div>

        <br>
        <br>

        <h3 style="text-align: center;">Candidatos por Estado</h3>
        <div align="center">
            <table>
                <tr>
                    <th>Ba</th>
                    <th>Rj</th>
                </tr>
                <tr>
                    <td>20</td>
                    <td>50</td>
                </tr>
            </table>
        </div>

        <br>
        <br>

        <h3 style="text-align: center;">Média IMC</h3>
        <div align="center">
            <table>
                <tr>
                    <th>Faixa Idade</th>
                    <th>Imc</th>
                </tr>
                <tr>
                    <td>0 a 10</td>
                    <td>0.50</td>
                </tr>
            </table>
        </div>

        <br>
        <br>

        <h3 style="text-align: center;">Percentual Obesidade</h3>
        <div align="center">
            <table>
                <tr>
                    <th>Homem</th>
                    <th>Mulher</th>
                </tr>
                <tr>
                    <td>30%</td>
                    <td>40%</td>
                </tr>
            </table>
        </div>

        <br>
        <br>

        <h3 style="text-align: center;">Média Idade</h3>
        <div align="center">
            <table>
                <tr>
                    <th>Tipo sanguineo</th>
                    <th>Média</th>
                </tr>
                <tr>
                    <td>A+</td>
                    <td>14</td>
                </tr>
            </table>
        </div>

        <br>
        <br>

        <h3 style="text-align: center;">Quantidade Doadores</h3>
        <div align="center">
            <table>
                <tr>
                    <th>Tipo sanguineo</th>
                    <th>Médiaantidade</th>
                </tr>
                <tr>
                    <td>A+</td>
                    <td>25</td>
                </tr>
            </table>
        </div>

    </fieldset>
</div>