<div align="right"><button (click)="sair()" style="background-color: crimson; color: wheat; border-radius: 55%;">Exit</button></div>

<div class="card" style="background: white;">
    <fieldset legend="Doadores Estatísticas">

        <h3 style="text-align: center;">Pesquisa Individual</h3>

        <form class="form-inline" align="center">
            <div class=" form-group ">
                <input type="text " class="form-control " id="nome " placeholder="Seu nome " style="text-align: center; ">
                <button type="submit " class="btn btn-default btn-block ">Pesquisar</button>
            </div>
        </form>

        <br>
        <br>
        <br>
        <br>


        <h3 style="text-align: center;">Estatísticas Gerais</h3>

        <div align="center">
            <table>
                <tr>
                    <th>Candidatos por estado</th>
                    <th>Lastname</th>
                    <th>Age</th>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                </tr>
            </table>
        </div>
    </fieldset>
</div>